{#=====================================================
  Base template
  - Used as the basis of all pages
=====================================================#}

<!DOCTYPE html>

<html lang="en" data-theme="light">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Move planner {% block title %}{% endblock %}</title>

    <link rel="icon" href="/static/images/note.svg">

    <script src="/static/js/utils.js"></script>

    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/messages.css">
    <link rel="stylesheet" href="/static/css/styles.css">
</head>

<body>

    <header>
        {% if session.logged_in %}
            <a href="/">Home</a>
            <a href="/logout">Logout</a>
        {% else %}
            <a href="/">Home</a>
            <a href="/signup_form">Sign up</a>
            <a href="/login_form">Login</a>
        {% endif %}
    </header>

    {# Show flash messages from any previous events #}
    {% include "partials/messages.jinja" %}

    <main>

        {% block content %}
            <p>{{ box.name }}</p>

            <div>
                {% for item in items %}
                    <a href="/item/{{ item.id }}">{{ item.name }}</a>
                {% endfor %}
            </div>

            <form method="post" action="/new_item/{{ box.id }}">
                <p>add another item:</p>
                <label>
                    name
                    <input name="name" type="text" required>
                </label>
                <label>
                    fragile
                    <select name="fragile" required>
                        <option value="1">Yes</option>
                        <option value="0">No</option>
                    </select>
                </label>
                <label>
                    count
                    <input name="count" type="int" required>
                </label>
                <button>Add new item</button>
            </form>

            <a href="/delete_box/{{ box.id }}">Delete Box?</a>
            <p><strong>Warning!</strong> This will delete all the items inside!</p>
        {% endblock %}

    </main>

</body>

</html>

