{#=====================================================
  Base template
  - Used as the basis of all pages
=====================================================#}

<!DOCTYPE html>

<html lang="en" data-theme="light">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Move planner {% block title %}{% endblock %}</title>

    <link rel="icon" href="/static/images/note.svg">

    <script src="/static/js/utils.js"></script>

    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/messages.css">
    <link rel="stylesheet" href="/static/css/styles.css">
</head>

<body>

    <header>
        {% if session.logged_in %}
            <a href="/">Home</a>
            <a href="/logout">Logout</a>
        {% else %}
            <a href="/">Home</a>
            <a href="/signup_form">Sign up</a>
            <a href="/login_form">Login</a>
        {% endif %}
    </header>

    {# Show flash messages from any previous events #}
    {% include "partials/messages.jinja" %}

    <main>

        {% block content %}
            <p>{{ move.address }}</p>

            <a href="/">back to Home</a>
            {% if session.logged_in and session.user.id == owner_id %}
                <p>Code to let others join: {{ move.move_code }}</p>
                <a href="/new_code/{{move.id}}"><button>Generate new code</button></a>
            {% else %}
            {% endif %}

            <div>
                {% for box in boxes %}
                    <a href="/box/{{ box.id }}">{{ box.name }}</a>
                {% endfor %}
            </div>

            <form method="post" action="/new_box/{{ move.id }}">
                <p>add another box:</p>
                <label>
                    name
                    <input name="name" type="text" required>
                </label>
                <label>
                    location
                    <input name="location" type="text" required>
                </label>
                <button>Add new box</button>
            </form>

            <a href="/delete_move/{{ move.id }}">Delete move?</a>
        {% endblock %}

    </main>

</body>

</html>

